/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    font: 400 1.125/1,6em "Frank Ruhl Libre";
    color: #fff;
    background-color: #07020d;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/*header*/

header{
    color: #07020d;
    position: relative;
}

.header{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(256, 256, 256, 0.8) top center;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 800px;
}


.wrapper .logo{
    font-size: 1.875rem;
    color: inherit;
}

.menu span{
    font-size: 1.875rem;
}

/*hero*/

.hero{
    height: 400px;
    background: url(../images/photos/mountains.jpg) no-repeat;
    background-size: cover;
}

/*contenu*/

section .contenu{
    padding: 100px 0;
}

.contenu .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 10px;
}

.contenu button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07020D;
    color: #5db7de;
    padding: 44px 44px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
}

img{
    max-width: 100%;
}

.card{
    position: relative;
}
/*------------------------------------------------------------------------------
   Éléments
------------------------------------------------------------------------------*/

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

