/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    font: 400 1.125/1,6em "Frank Ruhl Libre";
    color: #fff;
    background-color: #07020d;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

